@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

ul, ol {
    @apply list-inside;
}
ul {
    @apply list-disc;
}
ol {
    @apply list-decimal;
}
hr {
    @apply border-gray-300 dark:border-gray-600;
}
