@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

[contenteditable=true] ul, .editable ul {
    @apply space-y-1 list-disc list-inside;
}
[contenteditable=true] ol, .editable ol {
    @apply space-y-1 list-decimal list-inside;
}
[contenteditable=true] hr, .editable hr {
    @apply h-1 w-1/3 my-8 mx-auto bg-gray-300 dark:bg-gray-600 border-0 rounded-full;
}
[contenteditable=true] h1, .editable h1, 
[contenteditable=true] h2, .editable h2, 
[contenteditable=true] h3, .editable h3, 
[contenteditable=true] h4, .editable h4, 
[contenteditable=true] h5, .editable h5, 
[contenteditable=true] h6, .editable h6 {
    @apply mb-3 text-gray-900 dark:text-white;
}
[contenteditable=true] h1, .editable h1 {
    @apply text-5xl font-extrabold;
}
[contenteditable=true] h2, .editable h2 {
    @apply text-4xl font-bold;
}
[contenteditable=true] h3, .editable h3 {
    @apply text-3xl font-bold;
}
[contenteditable=true] h4, .editable h4 {
    @apply text-2xl font-bold;
}
[contenteditable=true] h5, .editable h5 {
    @apply text-xl font-bold;
}
[contenteditable=true] h6, .editable h6 {
    @apply text-lg font-bold;
}
[contenteditable=true], .editable {
    @apply text-gray-700 dark:text-gray-300;
}
[contenteditable=true] blockquote, .editable blockquote {
    @apply p-4 my-4 border-l-4 border-gray-300 bg-gray-100 dark:border-gray-500 dark:bg-slate-700;
}
[contenteditable=true] p, .editable p, [contenteditable=true] div, .editable div {
    @apply mb-3 text-gray-700 dark:text-gray-300;
}
[contenteditable=true] img, .editable img {
    @apply h-auto max-w-full rounded-lg shadow-md;
}
[contenteditable=true] a:link, [contenteditable=true] a:visited, .editable a:link, .editable a:visited {
    @apply text-indigo-600 dark:text-indigo-600 font-medium hover:underline cursor-pointer transition duration-300 ease-in-out;
}
[contenteditable=true] a:link:active, [contenteditable=true] a:visited:active, .editable a:link:active, .editable a:visited:active {
    @apply text-indigo-600 dark:text-indigo-600;
}
