@font-face {
    font-family: 'Dymaxion scriptС';
    src: local('Dymaxion scriptС'), local('Dymaxionscript'), url('Dymaxionscriptс.woff2') format('woff2'), url('Dymaxionscriptс.woff') format('woff'), url('Dymaxionscriptс.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
