@font-face {
    font-family: 'Forum';
    src: local('Forum'), url('forum.woff2') format('woff2'), url('forum.woff') format('woff'), url('forum.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
