@font-face {
    font-family: 'Sports World';
    src: local('Sports World'), local('SportsWorld'), url('sportsworld.woff2') format('woff2'), url('sportsworld.woff') format('woff'), url('sportsworld.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
