@font-face {
    font-family: 'Classica Two';
    src: local('Classica Two'), local('ClassicaTwo'), url('classicatwo.woff2') format('woff2'), url('classicatwo.woff') format('woff'), url('classicatwo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
