@font-face {
    font-family: 'ChunkFive Ex';
    src: local('ChunkFive Ex'), local('ChunkFiveEx'), url('chunkfiveex.woff2') format('woff2'), url('chunkfiveex.woff') format('woff'), url('chunkfiveex.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
